# Ignore build directories
[Bb]in/
[Oo]bj/

# Ignore user-specific files
*.user
*.rsuser
*.suo

# Ignore Visual Studio Code settings
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/packages/

# Ignore temporary files
*.tmp
*.log

# Ignore compiled output
*.dll
*.exe
